
body{
	background-image: url("../img/background7.jpg");
}

.title{
	text-align: center;
	color: #49c679;
	text-shadow: 5px 5px 40px #63fcff;
	font-weight: bold;
	font-style: italic;
	margin: 20px;
	font-size: 35px;
}


.principal{
	text-align: center;
	width: 80%;
	display: block;
	margin: 50px auto;
}



.one{
	float: left;
	background-color: #159691;
	width: 370px;
	height: 250px;
	border-radius: 8px;
	margin-left: 50px;	
}
.progress{
	text-shadow: 6px 6px 8px #000;
	color: #49c679;
	font-weight: bold;
	font-size: 30px;
	padding: 20px;
}
.carga{
	font-size: 17px;
}
.porcen{
	margin-left: 40px;
}
.barra{
	font-size: 20px;
}



.two{
	display: inline-block;
	width: 470px;
	height: 410px;
	border-radius: 8px;
	background-color: #159691;
}
.animate{
	text-shadow: 6px 6px 8px #000;
	color: #49c679;
	font-weight: bold;
	font-size: 25px;
}



.contenedor{
	text-align: center;
	width: 80%;
	display: block;
	margin: 0 auto 200px;
}

.three{
	float: left;
	background-color: #159691;
	width: 280px;
	height: 290px;
	border-radius: 8px;
	text-align: center;
	margin-left: 10%;
}
.trazos{
	text-shadow: 6px 6px 8px #000;
	color: #49c679;
	font-size: 25px;
	font-weight: bold;
}



input{
	display: inline-block;
	margin: 50px auto 50px auto;
	padding: 10px 30px 10px 30px;
	border: 2px double #e2bf24;
	border-radius: 10px;
	background-color: #e28624;
	text-shadow: 5px 4px 10px #000;
	cursor: pointer;
}
input:hover{
	background-color: #e2862400;
	border-color: #e2bf2400;
	color: #FFF;
}